/* CSS HEX */
--redwood: #ad5d4eff;
--lavender-web: #e1e5f2ff;
--slate-gray: #628395ff;
--jet: #2f2f2fff;
--caput-mortuum: #502419ff;

/* CSS HSL */
--redwood: hsla(9, 38%, 49%, 1);
--lavender-web: hsla(226, 40%, 92%, 1);
--slate-gray: hsla(201, 21%, 48%, 1);
--jet: hsla(0, 0%, 18%, 1);
--caput-mortuum: hsla(12, 52%, 21%, 1);

/* SCSS HEX */
$redwood: #ad5d4eff;
$lavender-web: #e1e5f2ff;
$slate-gray: #628395ff;
$jet: #2f2f2fff;
$caput-mortuum: #502419ff;

/* SCSS HSL */
$redwood: hsla(9, 38%, 49%, 1);
$lavender-web: hsla(226, 40%, 92%, 1);
$slate-gray: hsla(201, 21%, 48%, 1);
$jet: hsla(0, 0%, 18%, 1);
$caput-mortuum: hsla(12, 52%, 21%, 1);

/* SCSS RGB */
$redwood: rgba(173, 93, 78, 1);
$lavender-web: rgba(225, 229, 242, 1);
$slate-gray: rgba(98, 131, 149, 1);
$jet: rgba(47, 47, 47, 1);
$caput-mortuum: rgba(80, 36, 25, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #ad5d4eff, #e1e5f2ff, #628395ff, #2f2f2fff, #502419ff);
$gradient-right: linear-gradient(90deg, #ad5d4eff, #e1e5f2ff, #628395ff, #2f2f2fff, #502419ff);
$gradient-bottom: linear-gradient(180deg, #ad5d4eff, #e1e5f2ff, #628395ff, #2f2f2fff, #502419ff);
$gradient-left: linear-gradient(270deg, #ad5d4eff, #e1e5f2ff, #628395ff, #2f2f2fff, #502419ff);
$gradient-top-right: linear-gradient(45deg, #ad5d4eff, #e1e5f2ff, #628395ff, #2f2f2fff, #502419ff);
$gradient-bottom-right: linear-gradient(135deg, #ad5d4eff, #e1e5f2ff, #628395ff, #2f2f2fff, #502419ff);
$gradient-top-left: linear-gradient(225deg, #ad5d4eff, #e1e5f2ff, #628395ff, #2f2f2fff, #502419ff);
$gradient-bottom-left: linear-gradient(315deg, #ad5d4eff, #e1e5f2ff, #628395ff, #2f2f2fff, #502419ff);
$gradient-radial: radial-gradient(#ad5d4eff, #e1e5f2ff, #628395ff, #2f2f2fff, #502419ff);